:root {
    --primary-color: #67134c;
    --bg-light: #f8f9fa;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}


/* Sidebar Styling */
.sidebar-list li {
    margin-bottom: 12px;
    transition: 0.3s;
    padding: 10px 15px;
    border-radius: 10px;
}

.sidebar-list li a {
    text-decoration: none;
    color: #4a5568;
    font-size: 0.95rem;
    display: block;
}

.sidebar-list li.active {
    background-color: var(--primary-color);
}

.sidebar-list li.active a {
    color: white;
    font-weight: 600;
}

.sidebar-list li:hover:not(.active) {
    background-color: #f1f1f1;
}

.form-check-input:checked {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 0 0.25 margin rgba(82, 14, 60, 0.25)!important; 
}

.form-check-label {
    cursor: pointer;
    transition: color 0.2s;
}

.form-check-label:hover {
    color: var(--primary-color);
}

/* Product Grid Adjustments */
.product-card {
    border-radius: 12px;
    background: white;
    transition: 0.3s;
    border: 1px solid #f0f0f0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.product-img-container {
    background: #fdfbff;
    position: relative;
    padding: 15px; 
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-image {
    max-height: 200px; 
    object-fit: contain;
}

.product-title {
    font-size: 0.9rem; 
    font-weight: 600;
    color: #333;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-description {
    font-size: 0.75rem; 
    color: #777;
    margin-bottom: 0;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-price {
    font-size: 1rem;
    font-weight: 700;
    color: #67134c;
}

.badge-tag {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #67134c;
    color: white;
    font-size: 0.7rem;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: 600;
}

.rating-stars i {
    font-size: 0.65rem; 
}

.btn-add-cart, .btn-add-wishlist {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 0.8rem;
    transition: 0.3s;
}

.btn-add-cart {
    color: #67134c;
}

.btn-add-cart:hover {
    background: #67134c;
    color: white;
}

.btn-add-wishlist {
    color: #a7a7a7;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
    border: none;
    background: transparent;
}

.btn-add-wishlist:hover {
    background: #e0dfdf;
    color: red;
}
.btn-add-wishlist.active i{
    color: red !important; 
}

.btn-add-wishlist.active{
    background-color: rgb(255, 194, 194);
}

/* Pagination */
.page-link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.pagination .page-item.active .page-link {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: #fff !important; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.pagination .page-link:hover {
    background-color: #f8f9fa;
    color: var(--primary-color) !important;
}